:root {
    --glitch-background: url("media/images/scene-02.png");
    --glitch-visible: 0%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    pointer-events: none;
    border: 3px solid black;
}

body {
    height: 100vh;
    display: grid;
    justify-content: center;
    background-color: rgb(36, 36, 36);
}

#card {
    z-index: 5;
    animation: float 6s ease-in-out infinite;
    border-radius: 20px;
    cursor: grab;
}

#card img {
    width: 300px;
}

.typed-message {
    position: relative;
    font-size: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    left: 30px;
    top: 30px;
}

#instructions {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    position: absolute;
    font-size: 30px;
    left: 650px;
    top: 700px;
    font-weight: bold;
}

.wrapper {
    position: relative;
}

.wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--glitch-background);
    background-size: var(--glitch-visible);
    opacity: .3;
    mix-blend-mode: hard-light;
    animation: animate .2s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    10% {
        background-position: 5px 0;
    }
    20% {
        background-position: -5px 0;
    }
    30% {
        background-position: 15px 0;
    }
    40% {
        background-position: 5px 0;
    }
    50% {
        background-position: -25px 0;
    }
    60% {
        background-position: -50px 0;
    }
    70% {
        background-position: 0 -20px;
    }
    80% {
        background-position: -60px -20px;
    }
    81% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 0;
        filter: hue-rotate(360deg);
    }
}

.card-container {
    position: absolute;
    width: 1600px;
    height: 800px;
    top: 1px;
    left: 1px;
}

#start-container {
    top: 540px;
    left: 400px;
}

#start-container-throw {
    position: relative;
    left: 1050px;
    top: 140px;
    width: 300px;
    height: 300px;
    animation: float 6s ease-in-out infinite;
}

#start-container-throw img {
    width: 300px;
    cursor: grab;
}

#end-container-throw {
    width: 400px;
    height: 800px;
    position: relative;
    left: 300px;
    top: -250px;
}

.wall {
    width: 400px;
    height: 600px;
    background-color: #d7e2e9;
    position: absolute; 
    left: 1176px;
    top: 4px;
    z-index: 1;
}

#end-container {
    width: 300px;
    height: 300px;
    left: 750px;
    top: 300px;
}

.container {
    position: absolute;
}

.bounce {
	transform: scale(1.1);
}

.notifications {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: absolute;
    left: 615px;
    top: 200px;
}

.notification {
    width: 260px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 7px;
    background-color: rgb(255, 252, 246);
    transition: transform 0.5s ease;
    opacity: 0;
    animation: pop-up 0.7s ease;
    animation-fill-mode: forwards;
    
}

.notification:nth-child(2) {
    animation-delay: 0.3s;
}

.notification:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes pop-up {
    0% {
        transform: translateX(-70px) scale(0.6);
        opacity: 0;
    }
    100% {
        transform: translateX(0px) scale(1);
        opacity: 1;
    }
}

.notification p {
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.invisible {
    display: none;
}


.notifications:hover {
    cursor: url('media/images/cursor.png'), pointer;
}

.notification:hover {
    transform: scale(1.05)
}

@keyframes float {
	0% {
        filter: drop-shadow(0 5px 15px rgba(0,0,0,0.6));
		transform: translatey(0px);
	}
	50% {
        filter: drop-shadow(0 25px 15px rgba(0,0,0,0.2));
		transform: translatey(-20px);
	}
	100% {
        filter: drop-shadow(0 5px 15px rgba(0,0,0,0.6));
		transform: translatey(0px);
	}
}

.speech {
    position: absolute;
    left: 30px;
    top: 30px;
    animation: fade-in 1s ease;
    width: 400px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.arrow {
    position: absolute;
    width: 70px;
    left: 880px;
    top: 280px;
    -webkit-animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
	        animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
    }
  }
  